/* src/styles/globals.css */

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on the main page */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #46237A; /* Set background color */
  color: #fff; /* Set text color to white for contrast */
}

#root, .app-container {
  height: 100%;
}

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

/* Hide scrollbars in WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbars in Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

.navbar {
  background-color: black; /* Change this to your desired background color */
  padding: 16px;
}

.nav-item {
  padding: 10px 15px; /* Add padding to the nav items */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #46237a; /* Optional: To match the background */
  z-index: 10; /* Optional: To ensure it stays on top */
  padding: 1rem; /* Ensure consistent spacing */
}
