/* src/styles/SearchMovies.module.css */

.searchResults {
  list-style-type: none;
  padding: 0;
}

.searchItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.searchItem img {
  width: 50px; /* Adjust as needed */
  height: auto;
  margin-right: 10px;
}

.movieDetails {
  flex: 1;
}

.movieTitle {
  font-weight: bold;
}

.addButton {
  margin-left: 10px;
}
