/* src/styles/SearchMovies.module.css */

.moviePoster {
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 10px 0; /* Optional: Add some margin */
}

.movieDetails {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.movieTitle {
  font-size: 1.2em;
  margin-bottom: 5px;
}
