/* src/styles/Watchlist.module.css */

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 80vh; /* Adjust height as needed */
}

.searchColumn {
  flex: 1;
  margin-right: 20px;
  overflow-y: auto;
}

.watchlistColumn {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.watchlist {
  list-style-type: none;
  padding: 0;
}

.watchlistItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.watchlistItem img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.randomButton {
  margin-bottom: 20px;
  align-self: flex-start;
}

.movieIndex {
  font-weight: bold;
  margin-right: 10px;
}

.watchedLabel {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.watchedLabel input {
  margin-right: 5px;
}
